apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  annotations:
    serving.kserve.io/deploymentMode: RawDeployment
    serving.kserve.io/enable-prometheus-scraping: "true"
    storage.kserve.io/readonly: "false"
    prometheus.io/scrape: "true"
    prometheus.io/path: /metrics
    prometheus.io/port: "8080"
  labels:
    opendatahub.io/dashboard: "true"
  name: {{ args.deployment_name }}
  namespace: {{ args.namespace }}
spec:
  predictor:
    minReplicas: {{ args.replicas }}
    maxReplicas: {{ args.replicas }}
    model:
      modelFormat:
        name: vLLM
      runtime: {{ args.deployment_name }}
      resources:
{%- if args.accelerator == "nvidia" %}
        limits:
          nvidia.com/gpu: "{{ ctx.gpu_count }}"
        requests:
          nvidia.com/gpu: "{{ ctx.gpu_count }}"
{%- elif args.accelerator == "amd" %}
        limits:
          amd.com/gpu: "{{ ctx.gpu_count }}"
        requests:
          amd.com/gpu: "{{ ctx.gpu_count }}"
{%- endif %}
          cpu: "{{ args.cpu_request }}"
          memory: "{{ args.memory_request }}"
{%- if args.storage_source == "hf" and ctx.use_pvc %}
      storageUri: pvc://{{ ctx.pvc_name }}/
{%- elif args.storage_source != "hf" %}
      storageUri: {{ args.storage_source }}://{{ args.model_id }}
{%- endif %}
{%- if args.service_account_name %}
    serviceAccountName: {{ args.service_account_name }}
{%- endif %}
