apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {{ args.catalog_source_name }}
  namespace: {{ args.catalog_namespace }}
spec:
  sourceType: grpc
  image: {{ args.catalog_image }}
  displayName: {{ ctx.display_name }}
